@media only screen and (max-width: 768px){
  header nav.nav {display: none; }
  header .ham {display: block;}
}

.ham {
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}