body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#yellow {
  order: 1;
}

#red {
  order: 2;
}

#green {
  order: 3;
}

#orange {
  order: 4;
  flex: 1;
}

#blue {
  order: 5;
}