/* basic reset */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
button {
  border: none;
}

/* main css */

.calculator-container {
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgb(0 0 0 / 65%); 
  background-color: #eef2f4;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: auto 17% 17% 17% 17% 17%;
}

button {
  height: 60px;
  border-right: 1px solid #889cad;
  border-bottom: 1px solid #889cad;
}
button:nth-child(n+15) {
  border-bottom: none;
}

.result {
  grid-area: 1 / 1 / 2 / 5;
  text-align: right;
  background-color: #424d53;
  color: white;
}

.operator {
  background-color: #d2dce3;
}

.equals {
  grid-area: 3 / 4 / 7 / 5;
  background-color: #f77077;
  height: 100%;
}