/* basic reset */
html {
  box-sizing: border-box;
  font-size: 14px;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
button, input {
  border: none;
}

/* main css */
body, button {
  font-size: 14px; 
  font-weight: 600;
}
.calculator-container {
  width: 400px;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgb(0 0 0 / 65%); 
}
.calc-buttons {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button {
  height: 60px;
  border-right: 1px solid #889cad;
  border-bottom: 1px solid #889cad;
}
button:nth-child(n+14){
  border-bottom: none;
}
button:nth-child(14) {
  border-radius:  0 0 0 8px ;
}
button:nth-child(17) {
  border-radius: 0 0 8px 0;
}
button.equals,
button:nth-child(4) {
  border-right: none;
}
.result {
  width: 100%;
  height: 45px;
  text-align: right;
  background-color: #424d53;
  color: white;
  padding-right: 0.2em;
  font-size: 2em;
  border-radius: 8px 8px 0 0;
}
.operator {
  background-color: #d2dce3;
}
.equals {
  grid-area: 2 / 4 / 6 / 5;
  background-color: #f77077;
  height: 100%;
}