/* ---------FONT--------- */
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

/* ---------RESET--------- */
* {box-sizing: border-box;}

html,body,p {
  margin: 0;
  padding: 0;
}

html {font-size: 100%;} /* 16px */

/* ---------MAIN CSS--------- */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  overflow-x: visible;
}

section.card {
  max-width: 30em;
  min-width: 20.6em;
  height: auto;
  margin: 2em 1em;
  border-radius: 2.2em;
  box-shadow: 2px 3px 3px 3px rgba(20,20,20,0.1);
}

/* ---------CARD HEADER--------- */

.card-header {
  width: 100%;
  padding: 0.3em 1em;
  border-radius: 2.2em 2.2em 0 0;
  overflow: hidden;
  background-color: #b0b1b0;
}

.card-header h1 {
  font-size: 1.5em;
}

.card-header h2 {
  font-size: 1.2em;
}

.card-uploaders-avatar {
  width: 3em;
  height: 3em;
  background-color: #fefeff;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 0.24em 1em 0 0;
}

.card-upload-info {
  display: block;
  float: left;
}

.card-uploaders-name {
  margin: 0 1em 0 0;
}

.card-fulldate {
  margin: 0 1em 0 0;
  color: #fefeff;;
}

.card-settings {
  display: block;
  float: right;
  margin: 1.2em 0 1em 0;
}

.dot {
  width: 0.45em;
  height: 0.45em;
  background-color: black;
  border-radius: 50%;
  margin: 0 0.15em;
  float: left;
}

/* ---------CARD COVER--------- */

.card-cover-img-container {
  height: 19.6875em;
}

.card-img {
  width: 100%;
  max-height: 100%;
  object-position: center;
  object-fit: cover;
}

.img2 {
  object-position: top;
}

/* ---------CARD FOOTER--------- */

.card-footer {
  background-color: #f0f0f1;
  padding: 1em 1em 3.5em 1em;
  border-radius: 0 0 2.2em 2.2em;
}

.card-footer i.card-interaction-like {
  margin-left: 0.35em;
  font-weight: 600;
  font-size: 1.88em;
}

.card-footer i.card-interaction-comment {
  margin-left: 0.2em;
  font-size: 2em;
}

.card-footer i.card-interaction-like:hover {
  color: #ff0000;
}

.card-footer i.card-interaction-comment:hover {
  color: #085e90;
}

.card-footer i.card-interaction-like::before {
  content: "\2661";
}

.card-footer i.card-interaction-comment::before {
  content: "\270E";
  font-weight: 550;
}

.card-footer span.card-topic::before {
  content: "Gatto"; /* change the topic here */
  font-weight: bold;
}

.card-footer .card-topic {
  text-transform: lowercase;
}

/* ---------TABLET SCREEN--------- */

@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
  }
}

/* ---------MOBILE SCREEN--------- */

@media screen and (max-width: 375px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
